.env
vendor/
composer.lock
composer.phar
keys/*
!keys/.gitkeep
bin/*
!bin/docker-*
.phpunit.result.cache
.database/
.idea/
.php_cs.cache
local-packages/*
var/cache/*
!var/cache/.gitkeep
var/log/*
!var/log/.gitkeep
